@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.adOne-first {
border-right:solid 1px #a4a4a4;

}

.footer {
  background: #000000;
}

.inputy {
  border: .1rem solid white;
  background-color: #000000;
  position: relative;
  top:.5rem;
}

.arrow {
width: 2rem;
position: absolute;
bottom: -.2rem;
left:10rem
}

.centery {
  text-align: center;
}
